<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jzzh.setting"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SET_TIME" tools:ignore="ProtectedPermissions"/>
    <!-- 使用蓝牙的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 扫描蓝牙设备或者操作蓝牙设置 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_USB"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Setting">
        <activity
            android:name=".Setting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".network.NetworkActivity" />
        <activity android:name=".network.wifi.WifiActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="Setting.network.wifi.WifiActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".network.bt.BluetoothActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="Setting.network.bt.BluetoothActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".power.PowerActivity" />
        <activity android:name=".power.AutoSleepActivity" />
        <activity android:name=".power.AutoPowerOffActivity" />
        <activity android:name=".display.DisplayActivity" />
        <activity android:name=".display.RefreshActivity" />
        <activity android:name=".display.PowerOffImageActivity" />
        <activity android:name=".display.PowerOffImageDefaultActivity" />
        <activity android:name=".display.PowerOffImageUserActivity" />
        <activity android:name=".display.SleepImageActivity" />
        <activity android:name=".display.SleepImageDefaultActivity" />
        <activity android:name=".display.SleepImageUserActivity" />
        <activity android:name=".display.HomeScreenUserActivity" />
        <activity android:name=".display.WidgetTextActivity" />
        <activity android:name=".light.LightActivity" />
        <activity android:name=".language.LanguageAndKeyboardActivity" />
        <activity android:name=".language.KeyboardManagerActivity" />
        <activity android:name=".time.DateAndTimeActivity" />
        <activity android:name=".time.TimeZoneActivity" />
        <activity android:name=".lock.LockScreenActivity" />
        <activity android:name=".task.TaskManagerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="Setting.task.TaskManagerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".device.DeviceActivity" />
        <activity android:name=".device.DeviceInfoActivity" />
        <activity android:name=".device.DeviceCertificationInfoActivity" />
        <activity android:name=".device.SystemUpdateActivity" />
        <activity android:name=".device.AppUpdateActivity" />
        <activity android:name=".device.FactoryResetActivity" />
        <activity android:name=".device.GSFActivity" />

        <activity android:name=".setupwizard.WifiSetupWizardActivity"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.Wifi.SetupWizard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.inno.action.WIFI_SETUPWIZARD"/>
                <action android:name="android.net.wifi.PICK_WIFI_NETWORK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>