<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jzzh.setting"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_INSTALLED_PACKAGES" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SET_TIME" tools:ignore="ProtectedPermissions"/>
    <!-- 使用蓝牙的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 扫描蓝牙设备或者操作蓝牙设置 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_USB"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS"
        tools:ignore="ProtectedPermissions" />
    <!-- 安卓读写sd权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:name=".SettingApplication"
        android:icon="@drawable/ic_launcher_setting"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Setting">
        <activity
            android:name=".Setting"
            android:screenOrientation="userPortrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="zhihe.action.START_ACTIVITY_SETTING" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="300">
                <action android:name="android.settings.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".network.NetworkActivity"
            android:screenOrientation="userPortrait" />
        <activity android:name=".network.wifi.WifiActivity"
            android:screenOrientation="userPortrait"
            android:exported="true">
            <intent-filter>
                <action android:name="zhihe.action.START_ACTIVITY_WIFI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".network.bt.BluetoothActivity"
            android:screenOrientation="userPortrait"
            android:exported="true">
            <intent-filter>
                <action android:name="zhihe.action.START_ACTIVITY_BT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".power.PowerActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".power.AutoSleepActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".power.AutoPowerOffActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".power.PowerManageActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".display.DisplayActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".display.RefreshActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".display.PowerOffImageActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".display.SleepImageActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".display.HomeScreenStyleActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".display.HomeBackgroundSettingActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".display.WidgetTextActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".display.WidgetSettingActivity"
            android:screenOrientation="userPortrait" />
        <activity android:name=".display.logo.UserImageActivity"
            android:screenOrientation="userPortrait"
            android:exported="true">
            <intent-filter android:priority="300">
                <action android:name="com.inno.action.SLEEP_IMAGE_SETTING" />
                <action android:name="com.inno.action.POWER_OFF_IMAGE_SETTING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".light.LightActivity"
            android:screenOrientation="userPortrait" />
        <activity android:name=".language.LanguageAndKeyboardActivity"
            android:screenOrientation="userPortrait"
            android:exported="true">
            <intent-filter android:priority="300">
                <action android:name="android.settings.LOCALE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="300">
                <action android:name="android.settings.INPUT_METHOD_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Modified to not show language settings page for each system keyboard-->
            <intent-filter android:priority="300">
                <action android:name="android.settings.INPUT_METHOD_SUBTYPE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".language.KeyboardManagerActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".time.DateAndTimeActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".time.TimeZoneActivity"
            android:screenOrientation="userPortrait" />
        <activity android:name=".lock.LockScreenActivity"
            android:screenOrientation="userPortrait"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter android:priority="300">
                <action android:name="android.app.action.SET_NEW_PASSWORD" />
                <action android:name="android.app.action.SET_NEW_PARENT_PROFILE_PASSWORD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
                android:value="true" />
        </activity>
        <activity android:name=".task.TaskManagerActivity"
            android:screenOrientation="userPortrait"
            android:exported="true">
            <intent-filter>
                <action android:name="zhihe.action.START_ACTIVITY_TASK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".device.DeviceActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".device.LicenseInfo"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".device.DeviceInfoActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".device.DeviceCertificationInfoActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".device.SystemUpdateActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".device.AppUpdateActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".device.FactoryResetActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".device.GSFActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".keygesture.KeyGestureActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".keygesture.BottomGestureSettingActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".keygesture.SideGestureSettingActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".keygesture.PhysicalKeySettingActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".keygesture.LightGestureSettingActivity"
            android:screenOrientation="userPortrait" />

        <activity android:name=".setupwizard.WifiSetupWizardActivity"
            android:screenOrientation="userPortrait"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.Wifi.SetupWizard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.inno.action.WIFI_SETUPWIZARD"/>
                <action android:name="android.net.wifi.PICK_WIFI_NETWORK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
